<div class="modal fade" id="correctModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Woop! That was correct.</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="<%= root_path %>">Play again</a>
      </div>
    </div>
  </div>
</div>
