<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% if spotify_user %>
        <h1>Guess the Song</h1>

        <a class="play-track" href='#' data-track-id="<%= @track_answer.id %>">
          <h2>Click here to start</h2>
        </a>

        <ol>
          <% (@track_options << @track_answer).shuffle.each do |track| %>
            <li>
              <a class="guess-track" href='#' data-track-id="<%= track.id %>"><%= track.name %></a>
            </li>
          <% end %>
        </ol>
      <% else %>
        <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
      <% end %>
    </div>
  </div>
</div>
